<!DOCTYPE html>
<html lang="en" ng-app="ng-stagram">
<head>
	<meta charset="UTF-8">
	<title>ng-stagram</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="styles.css">
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
      <script src="app.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body ng-controller="PhotosController">
	<nav class="navbar navbar-default">
			<span class="navbar-brand navbar-left">ng-stagram</span>
	<form class="navbar-form navbar-right" role="search">
		<div class="form-group">
			<input id="search" class="form-control" type="text" ng-model="tag" ng-keyup="searchByTag(tag)" placeholder="Search...">
		</div>
	</form>
	</nav>
	<div class="content">
		<label><input type="checkbox" ng-model="viewFullSizePhotos" /> View Photos @ Full Size</label>
		<ul class="list-inline" id="photos">
			<li ng-repeat="pic in pics">
				<div>
					<a ng-href="{{pic.link}}" target="_blank">
					<img ng-src="{{ !viewFullSizePhotos && pic.images.low_resolution.url || pic.images.standard_resolution.url }}" alt="">
					<!-- <video ng-if="pic.videos" ng-src="{{ pic.videos.standard_resolution.url }}">
					</video> -->
				</a></div>
				<div class="detail-panel">
					<div>
						<span class="pull-left"><strong>{{pic.comments.count}}</strong></span>
						<span class="pull-right"><strong>{{pic.likes.count}}</strong></span>
					</div>
					<div class="clear-fix">
						<img class="profile-image" ng-src="{{pic.user.profile_picture}}" alt="">
						<strong>{{pic.user.username}}</strong>
						<div ng-class="viewFullSizePhotos ? 'image-caption-full' : 'image-caption-low'">
							{{pic.caption.text}}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>