<!DOCTYPE html>
<html lang="en" ng-app="ng-stagram">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>ng-stagram</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="styles.css">
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
      <script src="app.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body ng-controller="PhotosController">
		<div class="search form-group">
		<h2>ng-stagram</h2>
			<input id="search" class="form-control" type="text" ng-model="tag" ng-keyup="searchByTag(tag)" placeholder="Search...">
		</div>
	<div class="content">
		<label class="display-for-large-screens"><input type="checkbox" ng-model="viewFullSizePhotos" /> View Photos @ Full Size</label>
		<ul class="list-inline" id="photos">
			<li ng-repeat="pic in pics">
				<div class="image">
					<a ng-href="{{pic.link}}" target="_blank">
					<img ng-src="{{ !viewFullSizePhotos && pic.images.low_resolution.url || pic.images.standard_resolution.url }}" alt="" />
					<!-- <video ng-if="pic.videos" ng-src="{{ pic.videos.standard_resolution.url }}">
					</video> -->
				</a></div>
				<div class="detail-panel">
					<div>
						<span class="pull-left"><strong>{{pic.comments.count}}</strong></span>
						<span class="pull-right"><strong>{{pic.likes.count}}</strong></span>
					</div>
					<div class="clear-fix">
						<div class="user-detail">
							<img class="profile-image" ng-src="{{pic.user.profile_picture}}" alt="">
							<strong>{{pic.user.username}}</strong>
						</div>
						<div ng-class="viewFullSizePhotos ? 'image-caption-full' : 'image-caption-low'">
							{{pic.caption.text}}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>