html {
  background-color: #eee;
}
body {
  background-color: transparent;
  width: 100%;
}
.clear-fix {
  clear: both;
}
div.content {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}
ul.list-inline {
  display: inline-block;
  margin: 0 !important;
}
ul.list-inline li {
  margin: 10px;
}
.image img {
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}
.profile-image {
  width: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px #999;
          box-shadow: 0 0 10px #999;
  margin: 0 15px 0 5px;
}
.detail-panel {
  text-align: left;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  white-space: normal;
  padding: 5px;
  background-color: white;
}
.user-detail {
  margin: 5px 0;
}
.search {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  padding: 0 5px;
}
.display-for-large-screens {
  display: block;
}
/* Media Queries */
@media (max-width: 320px) {
  .image,
  .image img {
    width: 100%;
    max-width: 320px;
  }
  ul.list-inline {
    width: 100%;
  }
  ul.list-inline li {
    margin: 10px 0 !important;
    width: 100%;
  }
  .display-for-large-screens {
    display: none;
  }
  .image-caption-low,
  .image-caption-full {
    display: block;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .image,
  .image img {
    width: 100%;
    max-width: 480px;
  }
  ul.list-inline {
    width: 100%;
  }
  ul.list-inline li {
    margin: 10px 0 !important;
    width: 100%;
  }
  .display-for-large-screens {
    display: none;
  }
}
@media (max-width: 640px) {
  .image-caption-low,
  .image,
  .image img {
    width: 100%;
    max-width: 640px;
  }
  ul.list-inline {
    width: 100%;
  }
  ul.list-inline li {
    margin: 10px 0 !important;
    width: 100%;
  }
}
@media (min-width: 641px) {
  .image-caption-low {
    width: 296px;
  }
  .image-caption-full {
    width: 640px;
  }
}
